@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-users"></i> Kullanıcılar</h3>&emsp;
        @*<a class="btn btn-success" href="/AdminUser/AddUser/"><i class="fa fa-plus"></i> Yeni Kullanıcı Ekle</a>*@
    </div>

    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Adı Soyadı</th>
                    <th>Kullanıcı Adı</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Meslek</th>
                    <th>Cinsiyet</th>
                    <th>Yaş</th>
                    <th>Resim</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name @item.Surname</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Job</td>
                        <td>@item.Gender</td>
                        <td>@item.Age</td> 
                        <td>
                            <img src="@item.ImageUrl" style="width:100px; height:100px;" />

                        </td> 

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
