@model List<GetAllTourInformQueryResult>
@{
    ViewData["Title"] = "Tur Bilgisi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">CQRS MediatR Tur Bilgisi</h3>&emsp;
        <a class="btn btn-success" href="/Admin/TourInformMediatR/AddTourInform/"><i class="fa fa-plus"></i> Yeni Ekle</a>
    </div> 
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Ücret</th>
                    <th>Resim 1</th> 
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TourInformID</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td> 
                        <td>@item.Price</td> 
                        <td>
                            <img src="@item.Image" style="width:100px; height:100px;" /> 
                        </td>
                   
                        <td>
                            <a href="/Admin/TourInformMediatR/GetTourInforms/@item.TourInformID" class="btn btn-primary">GÜNCELLE</a>
                            <a href="/Admin/TourInformMediatR/DeleteTourInform/@item.TourInformID" class="btn btn-danger">SİL</a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>

<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': true
        })
    })
</script>
